@import '../../styles/color.scss';

.first-container{
    border: 1px solid $borderColor;
    margin: 2px;
    color: green;
}
.second-container{
    border: 1px solid $borderColor;
    margin: 2px;
    color: lightblue;
}
.third-container{
    border: 1px solid $borderColor;
    margin: 2px;
    color: gold;
}